script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/angular/angular.min.js')
script(src='/bower_components/angular-route/angular-route.min.js')
script(src='/js/controllers.js')
script(src='/js/app.js')
