doctype html
html(lang='en' ng-app='myapp')
    include ./partials/head.jade
    body
        include ./partials/navigation.jade
        div.body.container
            block content
        include ./partials/debug.jade
    include ./partials/footer.jade
