doctype html
html(lang='en' ng-app='myapp')
    include ./partials/head.jade
    body
        include ./partials/navigation.jade
        div.container
            block content
    include ./partials/footer.jade
