body {
    padding-top: 51px;
}

nav.navbar-fixed-top {
    margin-bottom: 0px;
}

.body.container {
    padding-top: 20px;
}

.jumbotron {
    background: none;
    text-align: center;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.well p:last-child {
    margin-bottom: 0px;
}

.row.boxes {
    margin-bottom: 10px;
}

footer {
    border-top: 1px solid #e7e7e7;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    margin-bottom: 0px;
}

footer .version {
    float: right;
}

footer .debug {
    margin-top: 15px;
    padding: 10px;
    font-size: 11px;
    background: #eaeaea;
}

footer h2 {
    margin: 0px 0px 8px 0px;
    font-size: 14px;
}
