nav.navbar.navbar-default(role='navigation')
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.navbar-brand Groups
        div#navbar.collapse.navbar-collapse

div.alert.alert-info(ng-hide='groups.list.length || groups.loading') There is none of groups.

table.table.table-striped(ng-show='groups.list.length')
    thead
        tr
            th.col-xs-8 Name
            th.col-xs-4 #
    tbody
        tr(ng-repeat='user in groups.list')
            td {{user.name}}
            td {{user._id}}
