div.jumbotron
    h1 Marketing stuff!
    p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
    p
        a.btn.btn-lg.btn-success(href='/#/', role='button') Get started today
div.row.boxes
    div.col-lg-4(ng-repeat='box in home.boxes')
        h2 {{box.title}}
        p {{box.description}}
        p
            a.btn.btn-default(href='{{box.link}}', role='button') Find out more &raquo;
