nav.navbar.navbar-default(role='navigation')
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#view-navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.navbar-brand Users
        div#navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(ng-click='createUser()', href='', role='button')
                        span.glyphicon.glyphicon-plus
                        = ' Create User'

div.alert.alert-info(ng-hide='users.length || loading') There is none of users.

table.table.table-striped(ng-show='users.length')
    thead
        tr
            th.col-xs-4 Name
            th.col-xs-4 Age
            th.col-xs-3 #
            th.col-xs-1
    tbody
        tr(ng-repeat='user in users')
            td {{user.name}}
            td {{user.age}}
            td {{user._id}}
            td.text-right
                div.btn-group
                    a.btn.btn-xs.btn-default(href='/#/users/{{user._id}}')
                        span.glyphicon.glyphicon-pencil
                    button.btn.btn-xs.btn-default(ng-click='removeUser(user)')
                        span.glyphicon.glyphicon-remove

//- Create User /modal/
//-
script(type='text/ng-template', id='/modal-create-user.html')
    form.form-horizontal(name='formCreateUser', ng-submit='formCreateUser.$valid && submit()', method='post', role='form', novalidate)
        div.modal-header
            button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') &times;
                span.sr-only Close
            h4.modal-title Create User
        div.modal-body
            div.form-group(ng-class='{"has-error": formCreateUser.name.$invalid && formCreateUser.name.$dirty || formCreateUser.name.$invalid && formCreateUser.$submitted}')
                label.control-label.col-sm-3(for='form-name') Name
                div.col-sm-9
                    input.form-control(ng-model='user.name', required, type='text', name='name', id='form-name', placeholder='Name')
            div.form-group(ng-class='{"has-error": formCreateUser.age.$invalid && formCreateUser.age.$dirty || formCreateUser.age.$invalid && formCreateUser.$submitted}')
                label.control-label.col-sm-3(for='form-age') Age
                div.col-sm-9
                    input.form-control(ng-model='user.age', ng-pattern='onlyNumbers', required, type='text', name='age', id='form-age', placeholder='Name')
        div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            input.btn.btn-primary(type='submit', value='Save')

//- Remove User /modal/
//-
script(type='text/ng-template', id='/modal-remove-user.html')
    form.form-horizontal(name='formRemoveUser', ng-submit='submit()', method='post', role='form', novalidate)
        div.modal-header
            button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') &times;
                span.sr-only Close
            h4.modal-title Remove User
        div.modal-body
            p Are you sure to remove #[strong {{remove.name}}] user?
        div.modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            input.btn.btn-danger(type='submit', value='Remove')
