nav.navbar.navbar-default(role='navigation')
    div.container
        div.navbar-header
            h1.navbar-brand User Detail
div.row
    div.col-sm-6
        h2 Profile
        table.table.table-striped
            tbody
                tr
                    th.col-xs-6 Name
                    td.col-xs-6 {{user.name}}
                tr
                    th.col-xs-6 Age
                    td.col-xs-6 {{user.age}}
    div.col-sm-6
        h2 Groups
        div.alert.alert-info(ng-hide='users.groups.length || loading') User is not assigned to any group.
